
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    letter-spacing: .7px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: hsl(221, 100%, 96%);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
   
    
}
span{
    display: flex;
}
p{
    font-size: 18px;
}
.CONT{
display: flex;
justify-self: center;
align-items: center;
margin: auto;
width: 600px;
height: 450px;
border-radius: 25px;
background-color: hsl(0, 0%, 100%);
}
.MI-F{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px;
    background: linear-gradient( hsla(252, 61%, 59%, 0.949)1%,hsl(241, 99%, 26%)99%) ;
    color: white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.MI-F-P{
    font-size: 23px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.604);
}
.C-L{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border-radius: 50%;
    background:     linear-gradient(rgba(0, 0, 0, 0.216)60%, transparent);
   
}
.P-F{
    font-size: 60px;
    font-weight: 600;
}
.P-S{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.601);
}
h1{
    font-size: 25px;
    margin-bottom: 20px;
}
.BO-P-TH{
    width: 270px;
    text-align: center;
}
.p-th{
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.511);
}
.MI-S{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding: 20px;
}
img{
    margin-right: 10px;
}

.SM-1,
.SM-2,
.SM-3,
.SM-4
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 12%;
    border-radius: 10px;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.089);
}

.SM-2{
    color:  hsl(39, 100%, 56%);
background-color:  hsla(39, 100%, 56%, 0.089);
}
.SM-3{
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%,0.089);
}
.SM-4{
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%,0.089);
}
.SM-1-1S,
.SM-2-2S,
.SM-3-3S,
.SM-4-4S
{
color: black;
}

.N-H{
    color: rgba(0, 0, 0, 0.429);
    font-weight: bold;
  margin-left: 5px;
}
button{
background-color: black;
color: white;
border: none;
outline: none;
width: 100%;
height: 40px;
border-radius: 20px;
}
button:hover{
    cursor: pointer;
    background: linear-gradient( hsla(252, 61%, 59%, 0.949)1%,hsl(241, 99%, 26%)99%);
}
@media (min-width:0px) and (max-width:375px){
    body{
  padding: 0px;
  height: 100vh;
    }
    .CONT{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        
    }
    .MI-F{
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 15px;
    }
    .MI-F-P{
        font-size: 18px;
    }
    .C-L{
        width: 130px;
        height: 130px;
        margin: 15px auto;
     
    }
    .P-F{
        font-size: 50px;
    }
    h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .p-th{
    font-size: small;    
    }
    .MI-S{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40vh;
        padding: 10px;
      
    }
 
h2{
    font-size: 18px;
}

}